/* vanilla tweet conf theme */

body{
  background-color: #f9f9f9;
  background-image: url(../img/bg01.png);
}

.question{
  background-color: #fff;
  box-shadow: 0px 1px 1px #888;
  text-align: center;
}

.content{

}

.or{
  position: absolute;
  top: 50%;
  left: 49%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #767676;
  text-transform:uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.image{
  /*margin: 60px 0 0px;*/
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  //box-shadow: 0px 2px 2px #888;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% auto;
  max-width: 100%;
}

.image:hover{
  box-shadow: 0 0 13px rgba(95, 196, 249, 1);
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #767676;
  font-weight: 300;
  letter-spacing: 2px;
}

h2{
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #767676;
  font-weight: 300;
}

.i01{
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url(../img/i01.jpg);
}

.i02{
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url(../img/i02.jpg);
}

/*--------- results ------- */

.results{
  text-align: center;
}

.results-main{
  padding: 20px;
  margin: 60px 0 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  //box-shadow: 0px 2px 2px #888;  
}

.social-img{
  margin: 20px 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.social-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.results-your{
  margin: 60px 0px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  //box-shadow: 0px 2px 2px #888;
  
}

.results-all{
  margin: 60px 0px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  //box-shadow: 0px 2px 2px #888;
  
}

.results-row {
  position: relative;
  padding: 5% 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
}
.overlay > div {
  position: absolute;
  top:25%;
  left:25%;
  width: 50%;
  height: 50%;
  color: white; 
  text-align: center;
  font-size: 18px;
}

.visible-landscape-xs {
  display: none;
}

@media all and (orientation: portrait) and (max-width: 767px){
  .hidden-portrait-xs {
    display: none;
  }
  .visible-landscape-xs{
    display: block;
  }
}

/*--------- Shadows ------- */

.intro:after, .a:after, .b:after, .results-main:after, .results-your:after, .results-all:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 5px 40px rgba(0,0,0,0.9);
    box-shadow:0 5px 40px rgba(0,0,0,0.9);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:10%;
    -moz-border-radius:100%;
    border-radius:100%;
}


/*--------- Footer ------- */

.footer{
	color: #686868;
	margin: 100px 0 0;
	background-color: #1e1e1e;
}

.footer-logo{
	margin: 100px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------- btn styles ------- */

.btn-twitter, .btn-facebook{
	border-radius: 6px;
	height: 36px;
	
}

.btn-facebook{
	background-color: #3b5998;
	border: 1px solid #224080;
}

.btn-facebook:hover{
	background-color: #5970a0;
	border: 1px solid #3782bb;
}

.btn-facebook img{
	margin: -3px 20px 0 -20px;
}

.btn-twitter{
	background-color: #55acee;
	border: 1px solid #3782bb;
}

.btn-twitter:hover{
	background-color: #80c1f2;
	border: 1px solid #69a1cc;
}

.btn-twitter img{
	margin: -3px 20px 0 -20px;
}

